/Palomera_IT13B_Activities/nbproject/private/
/Lab_act1_Arithmetics/nbproject/private/
/Palomera_IT13B_Activities/Lab_act1_Arithmetics/nbproject/private/
/Palomera_IT13B_Activities/build/
/Palomera_IT13B_Activities/dist/
